<!-- wp:pentablocktheme/penta-header-block /-->

<!-- wp:group {"className":"main-grid","layout":{"type":"default"}} -->
<div class="wp-block-group main-grid"><!-- wp:group {"tagName":"article","className":"main-grid-full","layout":{"type":"grid","columnCount":2,"minimumColumnWidth":null}} -->
    <article class="wp-block-group main-grid-full"><!-- wp:group {"className":"penta-article-group","style":{"spacing":{"blockGap":"0px"}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"stretch"}} -->
    <div class="wp-block-group penta-article-group"><!-- wp:post-title {"level":1} /-->
    
    <!-- wp:post-terms {"term":"category"} /--></div>
    <!-- /wp:group -->
    
    <!-- wp:group {"className":"penta-article-group","style":{"spacing":{"padding":{"top":"0","bottom":"0"}}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"left","verticalAlignment":"center"}} -->
    <div class="wp-block-group penta-article-group" style="padding-top:0;padding-bottom:0"><!-- wp:post-excerpt {"style":{"layout":{"selfStretch":"fit","flexSize":null}}} /--></div>
    <!-- /wp:group -->
    
    <!-- wp:group {"tagName":"main","style":{"layout":{"columnSpan":2}},"layout":{"type":"default"}} -->
    <main class="wp-block-group"><!-- wp:post-content /--></main>
    <!-- /wp:group -->
    
    <!-- wp:group {"className":"pagination","style":{"layout":{"columnSpan":2,"rowSpan":1}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
    <div class="wp-block-group pagination"><!-- wp:group {"layout":{"type":"constrained"}} -->
    <div class="wp-block-group"><!-- wp:post-navigation-link {"textAlign":"right","type":"previous","showTitle":true,"arrow":"chevron"} /--></div>
    <!-- /wp:group -->
    
    <!-- wp:group {"layout":{"type":"constrained"}} -->
    <div class="wp-block-group"><!-- wp:post-navigation-link {"showTitle":true,"arrow":"chevron"} /--></div>
    <!-- /wp:group --></div>
    <!-- /wp:group --></article>
    <!-- /wp:group --></div>
    <!-- /wp:group -->
    
    <!-- wp:template-part {"slug":"footer","theme":"penta_block-theme"} /-->